body {
  font-family: Helvetica, sans-serif;
  background: #010D27;
  color: #F33D90;
  margin: 2rem 0;
}

header {
  text-align: center;
}

img {
  height: 3.5rem;
}


h1, h2 {
  font-weight: 400;
  text-align: center;
  color: #F33D90;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

form {
  max-width: 70%;
}

label {
  text-align: center;
  cursor: pointer;
}

input {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
  margin: .5rem 0;
  color: #010D27;
  background: #FFFFFF;
  outline: none;
  opacity: .8;

  &::placeholder {
    font-size: 1rem;
  }
}

.form-container {
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: column;
}

#name {
  min-width: 15rem;
}

.contact, .plan {
  width: 50%;
  margin: auto;
}

.button-container {
  text-align: center;
  margin-top: 1rem;
}

button {
  font-size: 1.2rem;
  padding: .5rem 2rem;
  border: none;
  border-radius: .4rem;
  background: #F33D90;
  color: #FFFFFF;
  cursor: pointer;
}

@media (max-width:768px) {
  section {
    grid-template-columns: 1fr;
  }

  .contact, .plan {
    min-width: 12rem;
  }
}