body {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  background: #FFFFFF;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  height: 9rem;
  background: #033E8C;
  border-radius: 0 0 2.5rem 2.5rem;
  border-bottom: .5rem solid #ECF4FA;
}

header img {
  height: 5rem;
  margin-left: 1rem;
}

main {
  margin: 0 7.5rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #F33E8F;
}

form {
  display: flex;
}

label {
  font-size: .9rem;
  font-weight: 400;
  margin-bottom: .4rem;
  cursor: pointer;
}

input {
  font-size: 1rem;
  font-weight: 400;
  height: 3rem;
  border-radius: .4rem;
  border: .1rem solid #E2E1E5;
  padding-left: 1rem;
  outline: none;

  &::placeholder {
    color: #D2D2D2;
  }

  &:focus {
    border: .1rem solid #033E8C;
  }
}

button {
  text-align: left;
  font-size: .9rem;
  height: 3.2rem;
  width: 50%;
  color: #154E94;
  border-radius: .4rem;
  border: .1rem solid #5E5BFF;
  padding-left: 1rem;
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #0474C4;
  margin: 5rem 0 1rem 0;
}

.personal-data-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-container-2-contact {
  display: flex;

  & div:first-child {
    width: 60%;
  }

  & div:last-child {
    width: 40%;
    margin-right: 6rem;
  }
}

.input-container-2-contact div:first-child {
  margin-right: 1.5rem;
}

.input-container-2-address {
  display: flex;

  & div:first-child {
    width: 35%;
  }

  & div:last-child {
    width: 65%;
  }
}

.address-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.address-container .input-container-2-address div:first-child {
  margin-right: .5rem;
}

.button-container {
  display: flex;
  margin-top: 7rem;

  & button:first-child {
    margin-right: .5rem;
    background: #F33E8F;
  }

  & button:last-child {
    background: #EDC0D5;
  }
}

#name {
  margin-right: .5rem;
}

#cpf, #heath-plan, #plan-number {
  max-width: 50%;
}

#age {
  max-width: 20%;
}

@media (max-width: 1000px) {
  header {
    justify-content: center;
  }

  h1 {
    text-align: center;
  }

  main {
    margin: 0 5rem;
  }

  form {
    flex-direction: column;
    align-items: center;
  }

  .button-container {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  main {
    margin: 0 2rem;
  }

  button {
    min-width: 8rem;
  }

  .input-container-2-contact {
    flex-direction: column;
  }

  .input-container-2-address {
    flex-direction: column;
  }

  #cpf {
    min-width: 10rem;
  }

  #name {
    min-width: 13rem;
  }

  #age {
    min-width: 3rem;
  }

  #zip-code {
    min-width: 5rem;
  }
}

@media (max-width: 400px) {
  main {
    margin: 0;
  }

  .button-container {
    flex-direction: column;
    align-items: center;

    & button {
      text-align: center;
      padding: 0;
    }

    & button:first-child {
      margin: 0 0 1rem 0;
    }
  }

  #name {
    min-width: 10rem;
  }

  #heath-plan, #plan-number, #email, #address {
    min-width: 10rem;
  }

  #phone, #city {
    min-width: 7rem;
  }
}