.light {
  color: #023E8C;
  background: #FFFFFF;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  margin: 0;
  color: #F33D90;
  background: #010D27;
}

.logo {
  text-align: center;
  margin: 3rem 0;
}

img {
  height: 5rem;
}

main {
  padding: 0 1rem;
}

h1, h2 {
  text-align: center;
  min-width: 12.5rem;
  box-shadow: 1px 1px 0px 1px #EDC0D5;
  padding-bottom: .4rem;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  text-align: center;
  font-size: 1rem;
  height: 2rem;
  border-radius: .8rem;
  outline: none;
  background: none;
  color: #EDC0D5;
  border: none;
  border-bottom: .1rem solid #FFFFFF;
  padding: 0;

  &::placeholder {
    color: #EDC0D5;
  }

  &:focus {
    border: .1rem solid #F33D90;
  }
}

label {
  display: block;
  text-align: center;
  font-size: .8rem;
  text-decoration: underline;
  margin: .5rem auto;
  cursor: pointer;
}

button {
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
  background: #023E8C;
  color: #EDC0D5;
  cursor: pointer;

  &:hover {
    border: .1rem solid #FFFFFF;
  }
}

.title {
  display: flex;
  justify-content: center;
}

.subtitle {
  padding-right: 1rem;
}

.address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: .5rem;
}

.form-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name {
  width: 75%;
  margin: auto;
}

#phone {
  width: 50%;
  margin: auto;
}

.health-plan-container{
  display: flex;

  & div:first-child {
    margin-right: 1rem;
  }

  & input {
    width: 100%;
  }
}

.button-container {
  text-align: center;
  margin: 2rem 0;
}

@media (max-width: 500px) {
  .address {
    grid-template-columns: 1fr;
  }

  #name {
    width: 100%;
  }

  #phone {
    width: 75%;
  }

  .health-plan-container {
    flex-direction: column;

    & div:first-child {
      margin: 0;
    }
  }
}